body {
  background-color: black;
  color: white;
  font-size: large;
  font-family: "Courier New";
}

.container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

h1 {
  font-weight: bolder;
}

.btn {
  background-color: white;
  border: none;
  color: black;
  font-weight: bold;
}

.btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

#gameWindow p {
  animation: fade-in 1s linear;
  animation-fill-mode: both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
