body {
  background-color: black;
  color: white;
  font-size: large;
  font-family: "Courier New";
  margin-top:10px;
}

.container {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

img{
  filter: grayscale();
  margin: 0 0 20px 0;
}

h1 {
  font-weight: bolder;
  font-size: larger;
}

.btn {
  background-color: white;
  border: none;
  color: black;
  font-weight: bold;
  width: 45%;
}

.btn:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

#gameWindow form {
    padding-top: 20px;
}

#gameWindow form div{
    padding-bottom: 10px;
}

#gameWindowItems{
  display:flex;
  flex-direction:column;
  justify-content: center;
}
#gameWindow p {
  animation: fade-in 1s linear;
  animation-fill-mode: both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 599px){
  .container { width: 100%;}
}

@media only screen and (min-width:600px){
  .container {width: 50%;}
}