extends layout 

block content
    h2 The Journey Begins 
    p.
      THIS PROGRAM SIMULATES A TRIP OVER THE OREGON TRAIL
      FROM INDEPENDENCE, MISSOURI TO OREGON CITY, OREGON IN 1847.
      YOUR FAMILY OF FIVE WILL COVER THE 2040 MILE OREGON TRAIL
      IN 5-6 MONTHS --- IF YOU MAKE IT ALIVE.
    p.
      YOU HAD SAVED $900 TO SPEND FOR THE TRIP, AND YOU'VE
      JUST PAID $200 FOR A WAGON.
      YOU WILL NEED TO SPEND THE REST OF YOUR MONEY ON THE FOLLOWING ITEMS
    div 
      button(onclick="move_to('instructions_2')") NEXT