extends layout 

block content 
    h2 Items 
    p.
      #[b OXEN] - YOU CAN SPEND $200-$300 ON YOUR TEAM. 
      THE MORE YOU SPEND, THE FASTER YOU'LL GO BECAUSE 
      YOU'LL HAVE BETTER ANIMALS
    p.
      #[b FOOD] - THE MORE YOU HAVE, THE LESS CHANCE 
      THERE IS OF GETTING SICK
    p.
      #[b AMMUNITION] - $1 BUYS A BELT OF 50 BULLETS 
      YOU WILL NEED BULLETS FOR ATTACKS BY ANIMALS 
      AND BANDITS, AND FOR HUNTING FOOD
    p.
      #[b CLOTHING] - THIS IS ESPECIALLY IMPORTANT 
      FOR THE COLD WEATHER YOU WILL ENCOUNTER WHEN 
      CROSSING THE MOUNTAINS
    p.
      #[b MISCELLANEOUS SUPPLIES] - THIS INCLUDES MEDICINE 
      AND OTHER THINGS YOU WILL NEED FOR SICKNESS AND 
      EMERGENCY REPAIRS
    div     
      button(onclick="move_to('instructions_3')") NEXT