extends layout 

block content 
    h2 What Would You Like To Purchase?
    form(method='POST' action="/player_setup")
        div
          label(for="input_name") NAME:  
              input(type="text" name="input_name" id="input_name")

        div
          label(for="input_oxen") OXEN TEAM: 
              input(type="number" name="input_oxen" id="input_oxen")

        div
          label(for="input_food") FOOD:  
              input(type="number" name="input_food" id="input_food")

        div
          label(for="input_bullets") BULLETS: 
              input(type="number" name="input_bullets" id="input_bullets")

        div
          label(for="input-clothes") CLOTHES:  
              input(type="number" name="input_clothes" id="input_clothes")
              
        div
          label(for="input_supplies") SUPPLIES: 
              input(type="number" name="input_supplies" id="input_supplies")

        div
          label(for="input_meal_plan") MEAL PLAN: 
              select(name="meal_plans" id="meal_plans")
                option(value="MINIMAL") MINIMAL
                option(value="MODERATE") MODERATE
                option(value="WELL") WELL  
        div 
            button(type="submit") BEGIN 
            button(type="reset") RESET