extends layout 

block content 
    h2 What Would You Like To Purchase?
    form(method='POST' action="/player_setup")
        div
          label(for="name") NAME:  
              input(type="text" name="name" id="iname")

        div
          label(for="oxen") OXEN TEAM: 
              input(type="number" name="oxen" id="oxen")

        div
          label(for="food") FOOD:  
              input(type="number" name="food" id="food")

        div
          label(for="bullets") BULLETS: 
              input(type="number" name="bullets" id="bullets")

        div
          label(for="clothes") CLOTHES:  
              input(type="number" name="clothes" id="clothes")
              
        div
          label(for="miscellaneous") SUPPLIES: 
              input(type="miscellaneous" name="miscellaneous" id="miscellaneous")

        div
          label(for="meal_plan") MEAL PLAN: 
              select(name="meal_plan" id="meal_plan")
                option(value="MINIMAL") MINIMAL
                option(value="MODERATE") MODERATE
                option(value="WELL") WELL  
        div 
            button(type="submit") BEGIN 
            button(type="reset") RESET