extends layout 

block content 
    h2 What Would You Like To Purchase?
    form(action="")
        div
          label(for="input-name") NAME:  
              input(type="text" name="input-name" id="input-name")

        div
          label(for="input-oxen") OXEN TEAM: 
              input(type="text" name="input-oxen" id="input-oxen")

        div
          label(for="input-name") FOOD:  
              input(type="text" name="input-food" id="input-food")

        div
          label(for="input-oxen") BULLETS: 
              input(type="text" name="input-bullets" id="input-bullets")

        div
          label(for="input-name") CLOTHES:  
              input(type="text" name="input-clothes" id="input-clothes")
              
        div
          label(for="input-oxen") SUPPLIES: 
              input(type="text" name="input-supplies" id="input-supplies")
    div 
        button(onclick="create_player_object(); move_to('player_status')") BEGIN 
        button RESET
    script.
        function create_player_object(){
          let name = document.getElementById("input-name").value
          let oxen = parseInt(document.getElementById("input-oxen").value)
          let food = parseInt(document.getElementById("input-food").value)
          let bullets = parseInt(document.getElementById("input-bullets").value)
          let clothes = parseInt(document.getElementById("input-clothes").value)
          let supplies = parseInt(document.getElementById("input-supplies").value)

          const player1 = {name: name, oxen: oxen, food: food, bullets: bullets, clothes: clothes, supplies: supplies}
          load_player_from_object(player1)
          console.log(player)
        }