extends layout 

block content 
    //script. 
        let user = get_item('player_status')
        console.log(user)
    //console.log(localStorage.getItem('myFirstKey'));
    //- var last = window.localStorage.getItem("lastname")
    //- var temp_storage_item = localStorage.getItem('player_status')
    //- var player = get_item('player_status')
    //- var temp = "variable testing"
    h2 Player Status 
    p Name: #{status.name}
    p Miles TRAVELED: 
    p Oxen: 
    p FOOD: 
    p AMMO:
    p CLOTHES:  
    p SUPPLIES: 

